body {
    background-image: url("../Images/seigaiha.png");
}
img {
    height: 100px;
    width: 100px;
    margin: 10px;
}
#header {
    background-color: orange;
    color: white;
    padding: 25px;
    height: 100%;
    width: 25%;
    min-width: 248px;
    margin: 10px;
    font-size: 200%;
    text-align: center;
}
#instructions {
    background-color: peachpuff;
    color: green;
    padding: 25px;
    min-height: 175px;
    width: 80%;
    height: 100%;
    margin: 10px;
    line-height: 2;
}
#random_number {
    background-color: green;
    color: black;
    padding: 25px;
    height: 150px;
    width: 190px;
    margin: 10px;
    float: left;
}
#tally{
    background-color: lightblue;
    color: green;
    padding: 25px;
    height: 150px;
    width: 190px;
    margin: 10px;
    float: left;
    line-height: 2;
}
#score {
    background-color: turquoise;
    color: white;
    padding: 50px;
    height: 150px;
    width: 190px;
    margin: 10px;
}
#crystals::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.row:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.crystals {
    float: left;
    background-color: white;
    margin: 5px;
}